*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
    --white: #ffffff;
    --default-space: 70px;
} 

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--default-space);
    padding-top: var(--default-space);
    padding-right: var(--default-space);
    padding-bottom: 24px;
    font-family: 'Righteous', cursive;
}

header{
    height: 48px;
}

.logo{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
}

main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.title{
    grid-column: 1/-1;
    place-self: center;
    position: relative;
}

.title__text{
    font-size: 20vw;
    color: var(--white);
}

.title__transparent{
    font-size: 27vw;
    color: #FFFFFF55;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    z-index: -1;
}

.pikachu{
    grid-column: 1/-1;
    place-self: center;
    position: absolute;
}

.description{
    grid-column: 1/7;
    place-self: center start;
    color: var(--secondary-color);
    z-index: 2;
}

.description__title{
    font-size: 4rem;
    object-position: top;
}

.description__text{
    font-size: 1.2rem;
    width: 490px;
}

@media(max-width: 770px) {
    .description__text {
        display: none;
    }
}

.action{
    grid-column: 8/-1;
    place-self: center end;
    height: 100px;
    width: 411px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 3rem;
    text-decoration: none;
    z-index: 2;
}

footer{
    text-align: center;
    color: var(--secondary-color);
    z-index: 2;
}